---
import "agnostic-css/src/components/table/table.css";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const response = await fetch("http://miniserver:8080/guilds");
    const guilds = await response.json();

    return await Promise.all(
        guilds.map(async (guild) => {
            const response = await fetch("http://miniserver:8080/guilds/" + guild.guildId + "/players");
            const members = await response.json();

            return {
                params: { guildId: guild.guildId },
                props: { guild, members },
            };
        })
    );
}

const { guild, members } = Astro.props;
---

<Layout>
    <div class="container">
        <h1>{guild.name}</h1>

        <nav aria-label="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={"/guild/" + guild.guildId}>Overview</a></li>
                <li class="breadcrumb-item"><a href={"/guild/" + guild.guildId + "/tb//rise-of-the-empire"}>Territory Battle</a></li>
            </ol>
        </nav>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Galactic Power</th>
                    <th>Character Galactic Power</th>
                    <th>Ship Galactic Power</th>
                </tr>
            </thead>
            <tbody>
                {members.map((member) => {
                    return (
                        <tr>
                            <td>{member.name}</td>
                            <td>{member.galacticPower.toLocaleString()}</td>
                            <td>{member.characterGalacticPower.toLocaleString()}</td>
                            <td>{member.shipGalacticPower.toLocaleString()}</td>
                        </tr>
                    );
                })}
            </tbody>
        </table>
    </div>
</Layout>
